{{#let (track true) as |showToggle|}}
  {{#if showToggle.value}}
    <Hmm />
  {{/if}}
  <button
    type='button'
    {{on "click" (fn showToggle.update (not showToggle.value))}}>
      Set it to {{not showToggle.value}}
    </button>
{{/let}}